@media screen and (max-width: 991px) {

    h3 {
        font-size: 1.2rem;
    }

    .top-banner {
        display: none;
    }

    .nav-toggle {
        display: block;
        margin: 20px;
    }

    .nav-right {
        display: none;
    }

    .nav-left {
        display: none
    }

    .nav-logo-toggle {
        display: block;
        margin: 20px;
    }

}

@media screen and (max-width: 767px) {

    .header-section {
        flex-direction: column;
    }

    .header-left {
        max-width: 100vw;
    }

    .header-left h1 {
        font-size: 2.5rem;
    }

    .header-left ul {
        flex-direction: column;
        
    }

    header .primary-button {
        width: 100%;
        margin-left: 0;
    }

    header .secondary-button {
        width: 100%;
        text-align: center;
    }

    header a {
        margin: 10px 0;
        text-align: center;
    }

    /* Grow Section */
    
    .grow-section {
        flex-direction: column-reverse;
    }

    .grow-left {
        max-width: 100vw;
    }

    .grow .primary-button {
        width: 100%;
        margin-left: 0;
    }

    .grow .secondary-button {
        width: 100%;
        text-align: center;
    }

    .grow a {
        margin: 10px 0;
        text-align: center;
    }

    .row-1 {
        flex-wrap: wrap;
    }

    .customers-section {
        flex-wrap: wrap;
    }

    .customers-left {
        text-align: center;
    }

    .customers-left p {
        margin-bottom: 10px;
    }

    .grow-right img {
        width: 60%;
    }

    .grow-right {
        justify-content: center;
    }

}

